/* ==========reset========== */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
button {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--font-dark);
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: var(--font-dark);
}
/* ==========reset========== */

/* ==========globals========== */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.container {
  width: 70%;
  margin: 0 auto;
}

/* =======header======= */
.nav-header {
  background-color: var(--dark-200);
  padding: 16px 0;
}

.nav-item,
.nav-link,
.nav-logo-link,
.current-page h1 {
  color: var(--font-light);
}

.nav-logo-link {
  font-size: 24px;
}

.nav-list {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.nav-logo {
  margin-right: auto;
}

.current-page {
  margin-right: auto;
}

.nav-link:hover,
.nav-logo-link:hover {
  color: var(--teal);
}
/* =======header======= */

/* =======main======= */
main {
  min-height: calc(100vh - (60px + 46px));
}
/* =======main======= */

/* =======footer======= */
.footer-text-container {
  background-color: var(--dark-200);
  text-align: center;
}
.footer-text p,
.footer-text a {
  color: var(--font-light);
  padding: 14px 0;
  font-size: 16px;
  transition: all 0.2s ease;
}
.footer-text a:hover {
  color: var(--teal);
}
/* =======footer======= */
/* ==========globals========== */
